@import "tailwindcss";

/* Tailwind v4 – Theme Setup */
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);

  /* Typography */
  --font-sans: "Inter", system-ui, sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem;     /* 12px */
  --text-sm: 0.875rem;    /* 14px */
  --text-base: 1rem;      /* 16px */
  --text-lg: 1.125rem;    /* 18px */
  --text-xl: 1.25rem;     /* 20px */
  --text-2xl: 1.5rem;     /* 24px */
  --text-3xl: 1.875rem;   /* 30px */
  --text-4xl: 2.25rem;    /* 36px */
  --text-5xl: 3rem;       /* 48px */

  /* Font Weights */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
}


:root {
  --primary: #8F0177;
}

.dark {
  --primary: #DE1A58;
}

html {
  font-family: var(--font-sans);
  color: var(--text);
  background: var(--background);
}

.link:hover {
  color: var(--primary);
}

body{
  overflow-x: hidden;
}

.container {
  width: 83%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-track {
  background: #fff;
}

.btn-org {
  background: var(--primary) !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  transition: all 0.2s linear !important;
}

.btn-org:hover {
  background-color: #fff !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
  scale: 1.1 !important;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked, .css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color: var(--primary) !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
}